form {
  width: min(90%, 400px);
}

.right {
  background: url("https://plus.unsplash.com/premium_photo-1663089215827-7f2991d022a2?q=80&w=1877&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center;
  background-size: cover;
}

.form-group {
  @apply grid relative;
}

input {
  @apply border border-gray-400 rounded-md p-2.5 outline-none bg-transparent;
}

label {
  @apply pointer-events-none absolute translate-y-2.5 left-3 text-black/70 transition-transform duration-300;
}

.form-group:has(input:not(:placeholder-shown)) label {
  @apply -translate-y-3 translate-x-2 text-[10px] py-0.5 px-2 bg-black/90 text-white rounded;
}

button {
  @apply bg-black/90 text-white p-2.5 rounded-md disabled:bg-gray-400 disabled:cursor-not-allowed;
}
