@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100vh;
  height: 100dvh;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, serif;
}

.lightblue {
  background-color: #dfebff;
}

.slate {
  background-color: #8697b3;
}

.lightyellow {
  background-color: #fff6df;
}

.pink {
  background-color: #fb88a9;
}

.grey {
  background-color: #f3f1f1;
}

.purple {
  background-color: #f3dfff;
}

.darkpurple {
  background-color: #b191c5;
}

.centered {
  @apply grid place-items-center;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

summary::-webkit-details-marker {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 cursor-pointer rounded;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
